.searchbar-form {
  position: relative;
  width: 220px;
  margin: 3em auto;
  /* transition: width 0.25s ease-in-out; */
  transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.searchbar-form:focus-within {
  width: clamp(320px, 60vw, 720px);
}

.searchbar {
  width: 100%;
  height: 64px;
  padding-right: 90px;
  border-radius: 8px;
  font-size: 1.4em;
  box-sizing: border-box;
}

.submit-button {
  position: absolute;
  top: 54%;
  right: 8px;
  transform: translateY(-50%);
  background-color: transparent;
  padding: 0;
}
.submit-button img {
    width: 32px;
}