#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;

}

body {
  margin: 1rem;
}


hero {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}



.comparison-chart-container {
    width: 90%;
    margin: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.forecast-chart-section {
  display: flex;
  align-content: center;
  justify-content: center;
}

.model-comparison-container {
    display: flex;
  align-content: center;
  justify-content: center;
  min-height: 100vh;
}

.chart-container {
  width: 100%;
}

h3, h4 {
  text-align: center;
}