
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}


* {
  margin: 0;
}
#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;

}

body {
  /* margin: 1rem; */
  background-color: #FFFFFF;
  
}


.forecast-hero {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  max-height: 100vh;
}



.comparison-chart-container {
    width: 90%;
    margin: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.forecast-chart-section {
  display: flex;
  align-content: center;
  justify-content: center;
}

.model-comparison-container {
    display: flex;
  align-content: center;
  justify-content: center;
  min-height: 100vh;
}

.chart-container {
  width: 100%;
}

h3, h4 {
  text-align: center;
}

.main-page {
  /* max-height: 100vh; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.searchbar-container {
  flex: 1;
  display: flex;
  justify-content: center; /* vertical centering */
  align-items: center;     /* horizontal centering */
}
.title {
  position: relative;
  top: 5em;
  text-transform: uppercase; 

}

.building-container {
  position: absolute;
  bottom: 0;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.building-container img {
  display: block; /* important: removes inline-gap */
  width: clamp(200px, 30vw, 800px);
  height: auto;
}



.background-texture {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  pointer-events: none;
  background-image: url("./images/paper-texture.png");
  opacity: 0.25;
}